# tests
.pytest_cache/
htmlcov/
.coverage

# other
__pycache__/
*.egg-info/
venv/
.venv/
.env
.git/
cert/
dist
igs-upload-config/

# data
test_data/
scripts/

# logging
logging/

#build
build/

# macOS
.DS_Store
